<div class="menu" [class.collapsed]="!isMenuOpen">
    <div class="collapsed-content" *ngIf="!isMenuOpen">
        <div class="header" (click)="toggleMenu()">
            <p><i class="bi bi-chevron-compact-right"></i> {{ 'OBSERVER.OBSERVATION_MENU' | translate }}</p>
        </div>
    </div>
    <div class="expanded-content" *ngIf="isMenuOpen">
        <div class="header" (click)="toggleMenu()">
            <p><i class="bi bi-chevron-compact-down"></i>{{ 'OBSERVER.OBSERVATION_MENU' | translate }}</p>
        </div>
        <p class="text-primary"><i class="bi bi-eye"></i> {{ 'OBSERVER.OBSERVING' | translate }}:</p>
        <app-avatar [isChat]="true" [uid]="observationService.observedPlayerId"></app-avatar>
        <button class="button" (click)="openSelectorDialog()">{{ 'OBSERVER.CHOOSE_PLAYER' | translate }}</button>
    </div>
</div>
