<div class="min-h-screen flex items-center justify-center overflow-y-auto">
<form [formGroup]="authForm" class="shadow-md rounded-md p-5 bg-white w-1/2" (ngSubmit)="register()">
        <div class="py-4 text-center">
            <h1 class="font-bold py-2">S'inscrire</h1>
            <h6 class="text-slate-600 text-base">Créez un compte</h6>
        </div>

        <mat-form-field appearance="fill" class="w-full">
            <mat-label>Nom d'utilisateur</mat-label>
            <mat-icon matPrefix>person</mat-icon>
            <input matInput placeholder="Saisissez votre nom d'utilisateur" formControlName="username" class="custom-input">
        </mat-form-field>
        <div *ngIf="authForm.get('username')?.invalid && (authForm.get('username')?.touched || authForm.get('username')?.dirty)" class="text-red-600 text-sm">
            <p *ngIf="authForm.get('username')?.errors?.required">Le nom d'utilisateur est requis.</p>
            <p *ngIf="authForm.get('username')?.errors?.invalidUsername">Le nom d'utilisateur ne peut contenir que des lettres et des chiffres.</p>
        </div>

    <mat-form-field appearance="fill" class="w-full">
        <mat-label>Courriel</mat-label>
        <mat-icon matPrefix>email</mat-icon>
        <input matInput placeholder="Saisissez votre adresse courriel" formControlName="email" class="custom-input">
    </mat-form-field>

    <div *ngIf="authForm.get('email')?.invalid && authForm.get('email')?.touched" class="text-red-600 text-sm">
        <p *ngIf="authForm.get('email')?.errors?.required">L'adresse courriel est requise.</p>
        <p *ngIf="authForm.get('email')?.errors?.email">L'adresse courriel n'est pas valide.</p>
        <p *ngIf="authForm.get('email')?.errors?.pattern">Le format de l'adresse courriel est invalide. Ex: utilisateur@exemple.com</p>
    </div>

    <mat-form-field appearance="fill" class="w-full">
            <mat-label>Mot de passe</mat-label>
            <mat-icon matPrefix>lock</mat-icon>
        <input [type]="passwordVisible ? 'text' : 'password'" matInput placeholder="Entrez votre mot de passe" formControlName="password" class="custom-input" autocomplete="new-password">

        <!-- Toggle Button for Password Visibility -->
        <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
            <mat-icon>{{ passwordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        </mat-form-field>
        <div *ngIf="authForm.get('password')?.invalid && (authForm.get('password')?.touched || authForm.get('password')?.dirty)" class="text-red-600 text-sm">
            <p *ngIf="authForm.get('password')?.errors?.required">Le mot de passe est requis.</p>
        </div>

    <div class="avatar-section">
        <input type="file" accept="image/*" (change)="onFileSelected($event)" id="avatar-upload" class="hidden">
        <div class="avatar-selection avatar-item custom-avatar">
            <h2 class="text-lg font-semibold">Choisissez votre avatar</h2>
            <label for="avatar-upload" class="cursor-pointer">
                <div class="upload-placeholder">
                    <mat-icon>add_photo_alternate</mat-icon>
                    <span>Téléverser</span>
                </div>
            </label>
        </div>

        <div class="avatar-grid">
            <!-- Loop through default avatars -->
            <div *ngFor="let avatar of defaultAvatars; index as i" class="avatar-item">
                <img [src]="avatar.url" [alt]="'Default Avatar ' + (i + 1)" (click)="selectAvatar(i)"
                     [class.selected]="selectedAvatarIndex === i">
            </div>
            <!-- Custom avatar section -->
            <div class="avatar-item custom-avatar">
                    <!-- Display custom avatar if uploaded -->
                    <img *ngIf="customAvatarUrl" [src]="customAvatarUrl" (click)="selectAvatar(-1)" alt="Custom Avatar"
                         [class.selected]="customAvatarUrl && selectedAvatarIndex === null">
            </div>
        </div>
    </div>

        <button type="submit" class="w-full border border-slate-200 rounded-md disabled:bg-purple-400 py-2 px-3 bg-blue-700 text-white font-bold" [disabled]="!authForm.valid">
            S'inscrire
        </button>

        <div class="flex justify-center my-5">
      <span class="text-slate-600">
        Déjà un compte?
      </span>
            <a class="text-purple-700 ml-2 font-bold" [routerLink]="['/login']">Se connecter</a>
        </div>
    </form>
</div>



<style>
    .mat-form-field-flex {
        align-items: center;
    }

    .custom-input {
        padding: 12px 0;
    }

    .mat-icon {
        margin-top: 0;
    }
</style>
