<div class="min-h-screen flex items-center justify-center overflow-y-auto theme-light">
    <form [formGroup]="authForm" class="shadow-md rounded-md p-5 bg-white w-1/3" (ngSubmit)="register()">
        <select (change)="switchLanguage($event)" [(ngModel)]="language" [ngModelOptions]="{standalone: true}" class="bg-white text-black rounded p-2 mr-4 cursor-pointer">
            <option value="fr">Français</option>
            <option value="en">English</option>
        </select>
        <div class="py-4 text-center">
            <h1 class="font-bold py-2">{{ 'REGISTER_PAGE.TITLE' | translate }}</h1>
            <h6 class="text-slate-600 text-base">{{ 'REGISTER_PAGE.SUBTITLE' | translate }}</h6>
        </div>

        <mat-form-field appearance="fill" class="w-full">
            <mat-label>{{ 'REGISTER_PAGE.USERNAME_LABEL' | translate }}</mat-label>
            <mat-icon matPrefix>person</mat-icon>
            <input matInput [placeholder]="'REGISTER_PAGE.USERNAME_PLACEHOLDER' | translate" formControlName="username">
        </mat-form-field>
        <div *ngIf="authForm.get('username')?.invalid && (authForm.get('username')?.touched || authForm.get('username')?.dirty)" class="text-red-600 text-sm mt-0">
            <p *ngIf="authForm.get('username')?.errors?.required">{{ 'REGISTER_PAGE.USERNAME_REQUIRED' | translate }}</p>
            <p *ngIf="authForm.get('username')?.errors?.maxlength">{{ 'REGISTER_PAGE.MAX_LETTERS_USERNAME' | translate }}</p>
            <p *ngIf="authForm.get('username')?.errors?.invalidUsername">{{ 'REGISTER_PAGE.USERNAME_INVALID' | translate }}</p>
        </div>

        <mat-form-field appearance="fill" class="w-full">
            <mat-label>{{ 'REGISTER_PAGE.EMAIL_LABEL' | translate }}</mat-label>
            <mat-icon matPrefix>email</mat-icon>
            <input maxlength="254" matInput [placeholder]="'REGISTER_PAGE.EMAIL_PLACEHOLDER' | translate" formControlName="email">
        </mat-form-field>
        <div *ngIf="authForm.get('email')?.invalid && authForm.get('email')?.touched" class="text-red-600 text-sm">
            <p *ngIf="authForm.get('email')?.errors?.required">{{ 'REGISTER_PAGE.EMAIL_REQUIRED' | translate }}</p>
            <p *ngIf="authForm.get('email')?.errors?.email">{{ 'REGISTER_PAGE.EMAIL_INVALID' | translate }}</p>
            <p *ngIf="authForm.get('email')?.errors?.pattern">{{ 'REGISTER_PAGE.EMAIL_FORMAT_INVALID' | translate }}</p>
        </div>

        <mat-form-field appearance="fill" class="w-full">
            <mat-label>{{ 'REGISTER_PAGE.PASSWORD_LABEL' | translate }}</mat-label>
            <mat-icon matPrefix>lock</mat-icon>
            <input [type]="passwordVisible ? 'text' : 'password'" matInput [placeholder]="'REGISTER_PAGE.PASSWORD_PLACEHOLDER' | translate" formControlName="password" class="custom-input" autocomplete="new-password">
            <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
                <mat-icon>{{ passwordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
        </mat-form-field>
        <div *ngIf="authForm.get('password')?.invalid && (authForm.get('password')?.touched || authForm.get('password')?.dirty)" class="text-red-600 text-sm">
            <p *ngIf="authForm.get('password')?.errors?.required">{{ 'REGISTER_PAGE.PASSWORD_REQUIRED' | translate }}</p>
            <p *ngIf="authForm.get('password')?.errors?.minlength">{{ 'REGISTER_PAGE.PASSWORD_MIN_LENGTH' | translate }}</p>
        </div>

        <div class="mt-6">
            <app-avatar-picker (avatarSelected)="onAvatarSelected($event)"></app-avatar-picker>
        </div>

        <button type="submit" class="w-full border border-slate-200 rounded-md disabled:opacity-50 disabled:cursor-not-allowed py-2 px-3 bg-bgButton text-white font-bold mt-4" [disabled]="!authForm.valid || !this.selectedAvatar">
            {{ 'REGISTER_PAGE.SUBMIT_BUTTON' | translate }}
        </button>

        <div class="flex justify-center my-5">
            <span class="text-slate-600">
                {{ 'REGISTER_PAGE.ALREADY_HAVE_ACCOUNT' | translate }}
            </span>
            <a class="text-purple-700 ml-2 font-bold" [routerLink]="['/login']">{{ 'REGISTER_PAGE.LOGIN_LINK' | translate }}</a>
        </div>
    </form>
    <div
            *ngIf="isLogging"
            class="absolute inset-0 flex items-center justify-center bg-white bg-opacity-75 rounded-md"
    >
        <mat-spinner [diameter]="50"></mat-spinner>
    </div>
</div>
