<div class="h-screen flex flex-col items-center justify-center p-4">
  <div *ngIf="token" class="w-full max-w-xl mx-auto bg-white p-6 rounded-md shadow-md">
    <h2 class="text-lg font-bold mb-4">Chatroom</h2>
    <div #messagesContainer class="h-60 overflow-y-auto border border-gray-300 p-2 mb-4 rounded">
<!--      <div *ngFor="let msg of messages" class="mb-2">-->
<!--        <span class="text-gray-500">({{ msg.createdAt | date:'HH:mm:ss' }})</span> - <strong>{{ msg.user }}</strong>: {{ msg.text }}-->
<!--      </div>-->
      <div *ngFor="let msg of messages" class="mb-2">
        <span class="text-gray-500">({{ msg.createdAt | date:'HH:mm:ss' }})</span> -
        <strong>{{ msg.user }}</strong>:
        <span class="whitespace-pre-wrap">{{ msg.text }}</span>
      </div>
    </div>
    <form [formGroup]="messageForm" (ngSubmit)="sendMessage()">
      <input formControlName="message" class="border border-gray-300 p-2 rounded w-full" placeholder="Type a message..." />
      <button type="submit" class="mt-2 w-full bg-blue-500 text-white p-2 rounded disabled:bg-blue-200" [disabled]="!messageForm.valid">Envoyer</button>
    </form>
    <button (click)="logout()" class="mt-2 w-full bg-red-500 text-white p-2 rounded">Déconnexion</button>
  </div>
</div>
