<div class="p-6 max-w-md mx-auto bg-bgPrimary shadow-md space-y-6">
    <h3 class="text-2xl font-bold text-center text-error mb-4">{{ 'POP_UP_MESSAGE.ERRORS_DETECTED' | translate }}</h3>

    <!-- Display the full formatted error message -->
    <div class="space-y-4">
        <p class="text-primary whitespace-pre-line">{{ data.errorMessage }}</p>
    </div>

    <!-- Single close button -->
    <div class="flex justify-center">
        <button
                (click)="onCloseClick()"
                class="px-4 py-2 border border-primary rounded-md text-secondary bg-bgButton hover:opacity-75 transition duration-150 ease-in-out"
        >
            {{ 'POP_UP_MESSAGE.CLOSE' | translate }}
        </button>
    </div>
</div>
