:host {
  display: flex;
  flex: 1 1 auto; /* Enables growth and shrinkage within constraints */
  max-width: 600px; /* Set a reasonable maximum width */
  max-height: 400px; /* Set a reasonable maximum height */
  width: 100%;
}

.chart-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.graph {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%; /* Constrains growth within container */
  max-height: 100%; /* Constrains growth within container */
}

.custom-legend {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.color-box {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
