<div class="chart-container">
    <div class="custom-legend">
        <h2 class="text-primary"> {{ 'GAME_INTERFACE.HISTOGRAM.LEGEND_HEADER' | translate }} </h2>
        <span class="legend-item text-primary">
            <span class="color-box" style="background-color: red;"></span>
            {{legendLabels[0]}}
            <pre>      </pre>
            <span class="color-box" style="background-color: lightgreen;"></span>
            {{legendLabels[1]}}
        </span>
    </div>
    <canvas
        baseChart
        class="graph"
        [data]="barChartData"
        [options]="barChartOptions"
        [type]="barChartType"
    >
    </canvas>
</div>
