<div class="p-6 max-w-md mx-auto bg-bgPrimary shadow-md space-y-6">
  <h3 class="text-2xl font-bold text-center text-error mb-4">{{ 'CONFIRMATION_DIALOG.WARNING' | translate }}</h3>
  <div class="space-y-4">
    <p class="text-primary text-center">{{ data.message }}</p>
  </div>
  <div class="flex justify-end space-x-4">
    <button
            (click)="onCancelClick()"
            class="px-4 py-2 border border-gray-300 rounded-md text-gray-700 bg-white hover:opacity-75 transition duration-150 ease-in-out"
    >
      {{ 'CONFIRMATION_DIALOG.CANCEL' | translate }}
    </button>
    <button
            (click)="onConfirmClick()"
            class="px-4 py-2 border border-transparent rounded-md shadow-sm text-white bg-bgButton hover:opacity-75 text-secondary transition duration-150 ease-in-out"
    >
      {{ 'CONFIRMATION_DIALOG.CONFIRM' | translate }}
    </button>
  </div>
</div>
