
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}
label {
    display: block;
    //margin-bottom: 10px;
}

textarea {
    width: 60%;
    padding: 8px;
    //margin-bottom: 10px;
    resize: vertical;
}

small {
    color: var(--color-primary);;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Adds consistent spacing between buttons */
    width: 100%;
    margin-top: 20px;
}


button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.enter {
    margin-left: 10px;
    background-color: var(--color-bg-button);
    color: var(--color-secondary);
}

.enter:hover {
    opacity: 0.75;
    transition: 0.3s;
}

.enter:disabled {
    background-color: gray;
    color: white;
    cursor: not-allowed;
    opacity: 0.35;
}

.enter:disabled {
    background-color: gray;
    color: white;
    border: 4px solid gray;
    cursor: not-allowed;
    opacity: 0.35;
}

.cancel {
    margin-right: 10px;
    background-color: red;
    color: white;
    border: 4px solid red;
}

.cancel:hover {
    background-color: white;
    color: red;
    transition: 0.3s;
}

.cancel:active {
    background-color: red;
    color: black;
    border: 4px solid black;
}

button {
    margin: 5px;
    border-radius: 20px;
    padding: 5px 20px; /* Increased horizontal padding */
    font-size: 20px;
    cursor: pointer;
}

#responseInput {
    border: 4px solid var(--color-primary);;
}