.cancel {
    margin-right: 10px;
    background-color: red;
    color: white;
}

.cancel:hover {
    opacity: 0.75;
    transition: 0.3s;
}

button {
    margin: 5px;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
}

.button-width {
    flex: 0 0 auto; /* Prevents the button from stretching */
    width: auto;
}