

.grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Top flex container adjustments */
#flex-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Align to the left */
    align-items: center; /* Align items to the top */
    padding: 10px;
    position: relative;
}

/* Timer circle adjustments */
.circle {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    color: #FFF;
    border: 2px solid #000000;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.result-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px; /* Add space between histogram and host player list */
    width: 100%; /* Use full available width */
    padding: 20px;
    box-sizing: border-box;
}

.circle span:first-child {
    color: black;
    font-size: 14px; /* Retained font size */
}

.circle span:nth-child(2) {
    color: #000000;
    font-size: 60px; /* Retained font size */
}

/* Question field adjustments */
#question-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
}

.players-list {
    flex: 1 1 50%; /* Allow both components to take up equal space */
    max-width: 600px; /* Set a max width for each component to avoid overgrowth */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-legend {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
}
.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

#question-field > div > h2 {
    font-weight: 600;
    font-size: 32px; /* Retained font size */
}

#question-field > div > h3 {
    font-weight: 400;
    font-size: 16px; /* Retained font size */
}

.points {
    position: relative;
    border: 2px solid #000000;
    width: 180px;
    height: 95px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* Question text sizing */
h1 {
    font-size: 32px; /* Maintained original font size */
    font-weight: 600; /* Bold */
    text-align: center;
    margin: 10px 0;
}

/* Image container adjustments */
.question-image-container {
    display: flex;
    justify-content: center;
    max-height: 25vh; /* Limit image height relative to viewport */
    margin-top: 10px;
    margin-bottom: 10px;
}

.responsive-image {
    max-width: 80%;
    max-height: 25vh; /* Match container height */
    width: auto;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Answer fields adjustments */
#answer-qcm-field, #answer-qrl-field, #answer-qre-field {
    width: 100%; /* Occupies full width within container */
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}
app-player-list {
    flex: 1;
}
