<div class="grid-container mt-6" *ngIf='gameInterfaceManagementService.isGameOver'>
    <h2>{{'GAME_INTERFACE.GAME_FINISHED'| translate}}!</h2>
    <p>{{'GAME_INTERFACE.FINAL_SCORE'| translate}} {{ score }}</p>
    <app-leave-boutton></app-leave-boutton>
</div>
<div class="result-container" *ngIf="gameInterfaceManagementService.isGameOver">
    <app-statistic-zone *ngIf="gameInterfaceManagementService.isGameOver" [gameStats]="gameInterfaceManagementService.gameStats"></app-statistic-zone>
    <div class="players-list">
        <div class="custom-legend">
            <p>{{'GAME_INTERFACE.PLAYERS_RESULT'| translate}} </p>
        </div>
        <app-player-list
                [hidden]='!gameInterfaceManagementService.isGameOver'
                #playerListChild
                [roomId]='gameInterfaceManagementService.gameService.gameRealService.roomId'
                [leftPlayers]='[]'
                [isHost] = 'false'>
        </app-player-list>
    </div>

</div>
<div *ngIf='!gameInterfaceManagementService.isGameOver' class="grid-container w-full">
    <div id="flex-container">
        <div class="circle">
            <span>{{gameInterfaceManagementService.timerText}}</span>
            <span>{{gameInterfaceManagementService.gameService.timer}}</span>
        </div>
        <section id="question-field">
            <div>
                <h2>Question {{ gameInterfaceManagementService.gameService.questionNumber }}</h2>
                <h3>{{ 'GAME_INTERFACE.QUESTION_INFO.VALUE' | translate }} : {{ gameInterfaceManagementService.gameService.question?.points }} points</h3>
                <h1>{{ gameInterfaceManagementService.gameService.question?.text }}</h1>
            </div>
        </section>
        <div class='points'>
            <p>{{ 'GAME_INTERFACE.CURRENT_POINTS' | translate }}: {{ score }}</p>
            <p *ngIf = 'bonusStatus && !gameInterfaceManagementService.gameService.observerMode'> {{ 'GAME_INTERFACE.BONUS_RECEIVED_FEEDBACK' | translate }} </p>
        </div>
    </div>

    <div *ngIf="gameInterfaceManagementService.gameService.question?.imageUrl" class="question-image-container">
        <img
                [src]="gameInterfaceManagementService.gameService.question!.imageUrl"
                alt="Question Image"
                class="responsive-image"
        />
    </div>
    <br>
    <app-game-answers-list *ngIf='gameInterfaceManagementService.gameService.question?.type === questionType.QCM' id='answer-field' class="w-4/5">
    </app-game-answers-list>
    <app-qrl-response-area *ngIf='gameInterfaceManagementService.gameService.question?.type === questionType.QRL' id='answer-qrl-field' class="w-1/2">
    </app-qrl-response-area>
    <app-qre-response-area *ngIf="gameInterfaceManagementService.gameService.question?.type === questionType.QRE" id="answer-qre-field" class="w-full">
    </app-qre-response-area>
</div>
