<div class="container">
    <table class="games-table">
        <thead>
        <tr>
            <th colspan="2">{{ 'ACTIVE_GAME_LIST.PUBLIC_GAME_LIST' | translate }}</th>
        </tr>
        </thead>
        <tbody class="tbody-container">
        <ng-container *ngIf="games$ | async as games">
            <tr *ngFor="let game of games$ | async as games" class="hover">
                <ng-container *ngIf="!game.private">
                    <td>
                        <div [class]="game.onGoing ? 'on-going-game' : 'game-item'" (click)="!game.onGoing ? joinRoom(game) : observeGame(game)">
                            <span class="quiz-title">{{ getQuizName(game.quizId) }}</span>
                            <ng-container *ngIf="!game.onGoing">
                                <span class="prestige-info">
                                    <span>{{ 'ACTIVE_GAME_LIST.MINIMUM_PRESTIGE' | translate }}: {{minimumPrestige(game.prestige)}}</span>
                                </span>
                                <span class="friends-only">
                                    {{ game.friendsOnly ? ('ACTIVE_GAME_LIST.FRIENDS_ONLY' | translate) : ('ACTIVE_GAME_LIST.FRIENDS_AND_OTHERS' | translate) }}
                                </span>
                                <span class="players">{{ game.numberOfPlayers }} <i class="bi bi-people"></i></span>
                                <span class="game-type">
                                    {{ 'ACTIVE_GAME_LIST.GAME_MODE' | translate }}: {{ game.gameType == 'classic' ? ('ACTIVE_GAME_LIST.CLASSIC' | translate) : ('ACTIVE_GAME_LIST.TEAM' | translate) }}
                                </span>
                                <span class="price">
                                    {{ game.price == 0 ? ('ACTIVE_GAME_LIST.FREE' | translate) : game.price }} <i class="bi bi-cash-coin"></i>
                                </span>
                            </ng-container>
                            <ng-container *ngIf="game.onGoing">
                                <span class="players">{{ 'ACTIVE_GAME_LIST.ONGOING_GAME' | translate }}</span>
                            </ng-container>
                        </div>
                    </td>
                </ng-container>
            </tr>
            <tr *ngIf="!games.length">
                <td>
                    <div class="game-item">
                        <span class="no-game">{{ 'ACTIVE_GAME_LIST.NO_GAMES_AVAILABLE' | translate }}</span>
                    </div>
                </td>
            </tr>
        </ng-container>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="2" class="button-container">
                <button routerLink="/home" class="cancel">{{ 'ACTIVE_GAME_LIST.CANCEL' | translate }}</button>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
