<div class="grid-container" *ngIf='hostInterfaceManagerService.isGameOver'>
    <h2>{{'GAME_INTERFACE.GAME_FINISHED'| translate}}</h2>
    <app-leave-boutton></app-leave-boutton>
</div>
<div class="grid-container" *ngIf='!hostInterfaceManagerService.isGameOver'>
    <div id="flex-container">
        <div class="circle">
            <span>{{hostInterfaceManagerService.timerText}}</span>
            <span>{{gameService.timer}}</span>
            <div *ngIf="!gameService.observerMode" class="button-container">
                <mat-icon
                        matTooltip="{{ (hostInterfaceManagerService.isPaused ? 'GAME_INTERFACE.TOOLTIP.TOOLTIP_PLAY' : 'GAME_INTERFACE.TOOLTIP.TOOLTIP_PAUSE') | translate }}"
                        (click)="hostInterfaceManagerService.sendPauseTimer()">
                    {{ hostInterfaceManagerService.isPaused ? 'play_circle_outline' : 'pause_circle_outline' }}
                </mat-icon>

                <mat-icon
                        matTooltip="{{ (gameService.isPanicDisabled() || hostInterfaceManagerService.isPanicMode ? 'GAME_INTERFACE.TOOLTIP.TOOLTIP_PANIC_MODE_DISABLED' : 'GAME_INTERFACE.TOOLTIP.TOOLTIP_PANIC_MODE') | translate }}"
                        (click)="hostInterfaceManagerService.startPanicMode()"
                        [ngClass]="{'disable': gameService.isPanicDisabled() || hostInterfaceManagerService.isPanicMode}">
                    whatshot
                </mat-icon>

            </div>
        </div>
        <section id="question-field">
            <div>
                <h2> Question {{gameService.questionNumber}}</h2>
                <h3> {{ 'GAME_INTERFACE.QUESTION_INFO.VALUE' | translate }}: {{ gameService.question?.points }} points</h3>
                <h1>{{ gameService.question?.text }}</h1>
                <h3 *ngIf="gameService.question?.type === 2">✅ : {{gameService.question?.answer }} ± {{gameService.question?.margin}}</h3>
            </div>
        </section>
    </div>
    <div *ngIf="gameService.question?.imageUrl" class="question-image-container">
        <img
                [src]="gameService.question!.imageUrl"
                alt="Question Image"
                class="responsive-image"
        />
    </div>
    <div class='btn-container'>
        <button *ngIf="!gameService.observerMode" class='enter'
                [disabled]='isDisabled() || isTimerStateResultAvailableIn()'
                (click)='handleHostCommand()'>
                {{updateHostCommand()}}
        </button>
        <app-leave-boutton></app-leave-boutton>
    </div>
</div>
<app-correction-qrl *ngIf='!hostInterfaceManagerService.isGameOver' [gameStats] ='hostInterfaceManagerService.gameStats' [qrlAnswers]='hostInterfaceManagerService.responsesQRL' [isHostEvaluating]='hostInterfaceManagerService.isHostEvaluating'></app-correction-qrl>
<div class="result-container">
    <div class="histogram" *ngIf='!hostInterfaceManagerService.isGameOver'>
        <app-statistic-histogram [changingResponses]="hostInterfaceManagerService.histogramDataChangingResponses" [valueOfResponses]="hostInterfaceManagerService.histogramDataValue"></app-statistic-histogram>
    </div>
    <app-statistic-zone *ngIf="hostInterfaceManagerService.isGameOver" [gameStats]="hostInterfaceManagerService.gameStats"></app-statistic-zone>
    <div class="host-players-list">
        <div class="host-players-list">
            <div class="custom-legend">
                <h1>{{ 'GAME_INTERFACE.PLAYER_LIST.LEGEND_TITLE' | translate }}</h1>
                <span class="legend-item">

            <span class="color-box" style="background-color: #f64343;"></span>
                    {{ 'GAME_INTERFACE.PLAYER_LIST.INACTIVE' | translate }}

                    <span class="color-box" style="background-color: #cea43b;"></span>
                    {{ 'GAME_INTERFACE.PLAYER_LIST.INTERACTION' | translate }}

                    <span class="color-box" style="background-color: #53b953;"></span>
                    {{ 'GAME_INTERFACE.PLAYER_LIST.VALIDATION' | translate }}

                    <span class="color-box" style="background-color: #2d2d2d;"></span>
                    {{ 'GAME_INTERFACE.PLAYER_LIST.QUIT' | translate }}

                    <span class="color-box" style="background-color: white;"></span>
                    {{ 'GAME_INTERFACE.PLAYER_LIST.GAME_END' | translate }}
        </span>
            </div>
        </div>

        <app-player-list
            #playerListChild
            [roomId]='gameService.gameRealService.roomId'
            [leftPlayers]='hostInterfaceManagerService.leftPlayers'
            [isHost] = 'true'>
        </app-player-list>

    </div>

</div>



