@import '~@fortawesome/fontawesome-free/css/all.css';

.quizzes-container table {
  border-collapse: collapse;
  width: 100%;
  background-color: var(--color-secondary);
  border: 2px solid;
  border-color: var(--color-primary);
  min-width: 50vw;
}

.quizzes-container thead th {
  background-color: var(--color-bg-button);
  color: white;
  border: 2px solid;
  border-color: var(--color-primary);
  padding: 10px;
}

.quizzes-container tbody td {
  border: 2px solid;
  border-color: var(--color-primary);
  padding: 10px;
}

.quizzes-container tfoot .button-container button {
  margin: 5px;
}

.quizzes-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  //height: 100vh;
}

.quizzes-container > button {
  background-color: var(--color-bg-button);
  border: none;
  padding: 5px 10px;
  margin: auto;
  border-radius: 3px;
  cursor: pointer;
  width: 20%;
}

table {
  width: 100%;
}

table,
th,
td {
  border: 1px solid #ddd;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: center;
}

.hover:hover {
  background-color: var(--color-bg-button);
  cursor: pointer;
}

.selected {
  background-color: var(--color-bg-button);
}

.hide-file-input {
  display: none;
}


.justify-content {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

button {
  margin: 10px;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 20px;
  cursor: pointer;
}

