<div class="quizzes-container">
    <table>
        <thead>
            <tr>
                <th>Jeux</th>
<!--                <th *ngIf="isAdmin">Visibilité</th>-->
                <th *ngIf="isAdmin">Dernière Modification</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="quizzes.length === 0">
                <td colspan="3" class="text-center text-gray-500 py-4">
                    Aucun jeu-questionnaire disponible pour le moment.
                </td>
            </tr>
            <tr *ngFor="let quiz of quizzes" [class.selected]="!isAdmin && quiz === selectedQuiz" (click)="selectQuiz(quiz)">
                <td  [class.hover] = "!isAdmin">
                    <app-game-item [quiz]="quiz" class="game-item" [isAdmin]="isAdmin" (removeQuiz)="removeQuiz($event)" (refresh)="refresh($event)"></app-game-item>
                    <app-quiz-info *ngIf="quiz === selectedQuiz && !isAdmin" [selectedQuiz]="quiz"></app-quiz-info>
                </td>
<!--                <td *ngIf="isAdmin">-->
<!--                    <label class="switch-btn" matTooltipClass="custom-tooltip" matTooltip="Afficher le questionnaire">-->
<!--                        <input type="checkbox" [(ngModel)]="quiz.visible" (click)="updateVisibility(quiz)" />-->
<!--                        <span class="slider round"></span>-->
<!--                    </label>-->
<!--                </td>-->
                <td *ngIf="isAdmin">
                    <span>{{ quiz.lastModification }}</span>
                </td>
            </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3">
                <div *ngIf="isAdmin" class="button-container flex justify-end space-x-4">
                    <button routerLink="/quiz-creation" class="px-4 py-2 border border-blue-500 rounded text-white bg-blue-500 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-400 transition duration-150 ease-in-out">
                        <i class="fas fa-plus mr-2"></i> Ajouter
                    </button>
                    <input type="file" class="file-selector hidden" #fileInput accept="application/json" (change)="selectFile($event)" />
                    <button (click)="this.uploadFile()" class="px-4 py-2 border border-green-500 rounded text-white bg-green-500 hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-400 transition duration-150 ease-in-out">
                        <i class="fas fa-file-import mr-2"></i> Importer
                    </button>
                </div>

                <div *ngIf="!isAdmin" class="button-container flex justify-end space-x-4">
                    <button
                            (click)="playGame()"
                            class="px-4 py-2 border border-blue-500 rounded text-white bg-blue-500 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-400 transition duration-150 ease-in-out"
                            [class.disabled-button]="!selectedQuiz"
                            [disabled]="!selectedQuiz">
                        Jouer
                    </button>
                    <!-- Uncomment if you want the test button -->
                    <!-- <button (click)="testGame()" class="px-4 py-2 border border-gray-500 rounded text-white bg-gray-500 hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 transition duration-150 ease-in-out" [class.disabled-button]="!selectedQuiz" [disabled]="!selectedQuiz">Tester</button> -->
                    <button
                            routerLink="/home"
                            class="px-4 py-2 border border-red-500 rounded text-white bg-red-500 hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-400 transition duration-150 ease-in-out">
                        Annuler
                    </button>
                </div>

            </td>
        </tr>
        </tfoot>

    </table>
</div>

