<div [formGroup]="parentGroup" class="space-y-6">
    <div formArrayName="questions" class="bg-white rounded-lg pt-6 space-y-4">
        <p *ngIf="questionsArray?.length !== 0" class="text-lg font-medium">Questions :</p>

        <ng-container *ngFor="let question of questionsArray?.controls; let i = index">
            <div [formGroupName]="i" class="border rounded-lg p-4 mb-4 shadow-sm">

                <div class="flex gap-2 mb-2 items-center">
                    <div class="flex gap-2">
                        <button type="button" (click)="addQuestion(i)" class="p-2 rounded hover:bg-blue-100">
                            <mat-icon matTooltipClass="custom-tooltip" matTooltip="Ajouter une question" class="!text-blue-600">add</mat-icon>
                        </button>

                        <button class="p-2 rounded hover:bg-gray-100"
                                *ngIf="!question.get('beingModified')?.value" type="button"
                                (click)="modifyQuestion(i)">
                            <mat-icon class="!text-black" matTooltipClass="custom-tooltip" matTooltip="Modifier la question">edit</mat-icon>
                        </button>
                    </div>

                    <div class="flex gap-2 justify-center flex-1">
                        <button *ngIf="i !== 0" type="button" (click)="moveQuestionUp(i)" class="p-2 rounded hover:bg-gray-100">
                            <mat-icon matTooltipClass="custom-tooltip" matTooltip="Déplacer la question vers le haut" class="!text-gray-600">keyboard_arrow_up</mat-icon>
                        </button>

                        <button *ngIf="i + 1 !== questionsArray?.length" type="button" (click)="moveQuestionDown(i)" class="p-2 rounded hover:bg-gray-100">
                            <mat-icon matTooltipClass="custom-tooltip" matTooltip="Déplacer la question vers le bas" class="!text-gray-600">keyboard_arrow_down</mat-icon>
                        </button>
                    </div>

                    <button type="button" (click)="removeQuestion(i)" class="p-2 rounded hover:bg-red-100">
                        <mat-icon matTooltipClass="custom-tooltip" matTooltip="Supprimer la question" class="!text-red-600">delete</mat-icon>
                    </button>
                </div>


                <div class="my-4"></div>


                <div *ngIf="question.get('beingModified')?.value">

                    <div class="popup" [ngClass]="{ 'show': isPopUpVisible }">
                        <span class="popuptext" [innerHTML]="questionErrors.join('<br>')"></span>
                    </div>
                    <div [attr.id]="'question' + i" class="space-y-4">
                        <p class="font-medium text-lg">Question {{i + 1}}:</p>
                        <label for="type{{ i }}" class="block text-sm font-medium font-semibold">Type de la question :</label>
                        <select formControlName="type" name="type{{ i }}" class="w-full p-2 border rounded">
                            <option value="QCM">QCM</option>
                            <option value="QRL">QRL</option>
                            <option value="QRE">QRE</option>
                        </select>
                        <p *ngIf="question.get('type')?.hasError('required') && question.get('type')?.touched"
                           class="text-red-600 text-sm">
                            Le type de question est requis
                        </p>


                        <label for="text{{ i }}" class="block text-sm font-medium">Texte de la question :</label>
                        <input maxlength="100" type="text" [attr.id]="'text' + i" name="text{{ i }}" formControlName="text"
                               class="w-full p-2 border rounded" placeholder="Saisissez le texte de la question">
                        <p *ngIf="question.get('text')?.hasError('required') && question.get('text')?.touched"
                           class="text-red-600 text-sm">
                            Le texte est requis
                        </p>
                        <p *ngIf="question.get('text')?.hasError('pattern') && question.get('text')?.touched"
                           class="text-red-600 text-sm">
                            Le texte ne doit pas être composé uniquement d'espaces.
                        </p>

                        <label for="points{{ i }}" class="block text-sm font-medium">Le nombre de points de la question
                            :</label>
                        <input type="number" [attr.id]="'points' + i" name="points{{ i }}" formControlName="points"
                               class="w-full p-2 border rounded" placeholder="Entrez le nombre de points">
                        <p *ngIf="question.get('points')?.hasError('required') && question.get('points')?.touched"
                           class="text-red-600 text-sm">
                            Le nombre de points est requis
                        </p>
                        <p *ngIf="question.get('points')?.invalid && question.get('points')?.touched"
                           class="text-red-600 text-sm">
                            Le nombre de points doit être entre 10 et 100 et être un multiple de 10
                        </p>

                        <div class="space-y-4">
                            <label class="block text-sm font-semibold text-gray-700 mb-2">Image (optionnel)</label>

                            <div class="flex flex-col gap-4">
                                <label for="imageUpload{{ i }}"
                                       class="cursor-pointer inline-flex items-center px-4 py-2 bg-white border border-gray-300 rounded-md text-sm font-medium text-gray-700 hover:bg-gray-50 w-fit">
                                    <mat-icon class="mr-2">upload</mat-icon>
                                    Choisir une image
                                    <input type="file"
                                           [id]="'imageUpload' + i"
                                           accept="image/*"
                                           (change)="onImageSelected($event, i)"
                                           class="hidden">
                                </label>
                                <mat-spinner *ngIf="isUploading" [diameter]="40" [strokeWidth]="5" class="text-indigo-500 mx-auto block"></mat-spinner>
                                <div *ngIf="question.get('imageUrl')?.value" class="flex flex-col gap-2">
                                    <img [src]="question.get('imageUrl')?.value"
                                         alt="Aperçu de l'image"
                                         class="w-40 h-40 object-cover rounded">

                                    <button (click)="removeImage(i)"
                                            class="inline-flex items-center px-3 py-2 bg-red-50 text-red-700 rounded w-fit hover:bg-red-100">
                                        <mat-icon class="mr-1">delete</mat-icon>
                                        Supprimer
                                    </button>
                                </div>
                            </div>

                            <p *ngIf="imageUploadError" class="text-sm text-red-600">
                                {{ imageUploadError }}
                            </p>
                        </div>

                        <div *ngIf="question.get('type')?.value === 'QCM'" class="space-y-2">
                            <p>Choix :</p>
                            <button type="button" [disabled]="getChoicesArray(i).controls.length !== 0"
                                    [ngClass]="{ 'hidden': getChoicesArray(i).controls.length !== 0 }"
                                    (click)="addChoice(i, getChoicesArray(i).controls.length - 1)"
                                    class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">
                                Ajouter choix
                            </button>
                        </div>

                        <div *ngIf="question.get('type')?.value === 'QRE'" class="space-y-4">
                            <label class="block text-sm font-medium">Intervalle de réponse:</label>
                            <div [formGroupName]="'interval'" class="flex gap-4">
                                <input type="number" id="minInterval{{ i }}" formControlName="min" placeholder="Minimum"
                                       class="w-1/2 p-2 border rounded">
                                <input type="number" id="maxInterval{{ i }}" formControlName="max" placeholder="Maximum"
                                       class="w-1/2 p-2 border rounded">
                            </div>
                            <p *ngIf="question.get('interval')?.hasError('maxLessThanMin')"
                               class="text-red-600 text-sm">
                                La valeur maximale doit être supérieure ou égale à la valeur minimale.
                            </p>
                            <p *ngIf="question.get('interval.min')?.hasError('pattern') && question.get('interval.min')?.touched && !question.get('interval.min')?.hasError('max') && !question.get('interval.min')?.hasError('min')"
                               class="text-red-600 text-sm">
                                Le minimum doit être un nombre entier.
                            </p>
                            <p *ngIf="question.get('interval.min')?.hasError('required') && question.get('interval.min')?.touched"
                               class="text-red-600 text-sm">
                                Le minimum est requis.
                            </p>
                            <p *ngIf="question.get('interval.max')?.hasError('pattern') && question.get('interval.max')?.touched && !question.get('interval.max')?.hasError('max') && !question.get('interval.max')?.hasError('min')"
                               class="text-red-600 text-sm">
                                La maximum doit être un nombre entier.
                            </p>
                            <p *ngIf="question.get('interval.max')?.hasError('required') && question.get('interval.max')?.touched"
                               class="text-red-600 text-sm">
                                La maximum est requis.
                            </p>
                            <p *ngIf="question.get('interval.max')?.hasError('max') && question.get('interval.max')?.touched"
                               class="text-red-600 text-sm">
                                La valeur maximale est trop grande (plus que 15 chiffres)
                            </p>
                            <p *ngIf="question.get('interval.min')?.hasError('max') && question.get('interval.min')?.touched"
                               class="text-red-600 text-sm">
                                La valeur minimale est trop grande (plus que 15 chiffres)
                            </p>
                            <p *ngIf="question.get('interval.max')?.hasError('min') && question.get('interval.max')?.touched"
                               class="text-red-600 text-sm">
                                La valeur maximale est trop petite (plus que 15 chiffres)
                            </p>
                            <p *ngIf="question.get('interval.min')?.hasError('min') && question.get('interval.min')?.touched"
                               class="text-red-600 text-sm">
                                La valeur minimale est trop petite (plus que 15 chiffres)
                            </p>

                            <label for="answer{{ i }}" class="block text-sm font-medium">Bonne réponse :</label>
                            <input m type="number" id="answer{{ i }}" formControlName="answer"
                                   class="w-full p-2 border rounded" placeholder="Entrez la valeur de la bonne réponse">
                            <p *ngIf="question.get('answer')?.hasError('answerOutOfRange') && question.get('answer')?.touched"
                               class="text-red-600 text-sm">
                                La réponse doit être entre les bornes spécifiées.
                            </p>
                            <p *ngIf="question.get('answer')?.hasError('pattern') && question.get('answer')?.touched && !question.get('answer')?.hasError('answerOutOfRange')"
                               class="text-red-600 text-sm">
                                La réponse doit être un nombre entier.
                            </p>
                            <p *ngIf="question.get('answer')?.hasError('max') && question.get('answer')?.touched &&!question.get('answer')?.hasError('answerOutOfRange')"
                               class="text-red-600 text-sm">
                                La valeur de la réponse est trop grande (plus que 15 chiffres)
                            </p>
                            <p *ngIf="question.get('answer')?.hasError('min') && question.get('answer')?.touched &&!question.get('answer')?.hasError('answerOutOfRange')"
                               class="text-red-600 text-sm">
                                La valeur de la réponse est trop petite (plus que 15 chiffres)
                            </p>


                            <label for="margin{{ i }}" class="block text-sm font-medium">Marge de tolérance :</label>
                            <input type="number" id="margin{{ i }}" formControlName="margin"
                                   class="w-full p-2 border rounded" placeholder="Entrez la marge de tolérance">
                            <p *ngIf="question.get('margin')?.hasError('marginTooLarge') && question.get('margin')?.touched" class="text-red-600 text-sm">
                                La marge de tolérance doit être au maximum 25 % de l'intervalle
                                ({{ calculateMarginLimit(question.get('interval.min')?.value, question.get('interval.max')?.value) }}).
                            </p>

                            <p *ngIf="question.get('margin')?.hasError('required') && question.get('margin')?.touched" class="text-red-600 text-sm">
                                La marge de tolérance est requis.
                            </p>

                            <p *ngIf="question.get('margin')?.hasError('min') && question.get('margin')?.touched"
                               class="text-red-600 text-sm">
                                La marge doit être un nombre entier supérieure ou égale à 0.
                            </p>

                            <p *ngIf="hasValidInterval(question)" class="bg-green-50 text-green-700 p-2 rounded-lg text-sm font-medium mt-2">
                                L'intervalle de bonne réponse est :
                                [
                                {{ calculateAnswerInterval(
                                question.get('answer')?.value,
                                question.get('margin')?.value,
                                question.get('interval.min')?.value,
                                question.get('interval.max')?.value
                            ) }}
                                ]
                            </p>

                        </div>
                    </div>


                    <div formArrayName="choices" class="space-y-4 mt-4">
                        <div *ngFor="let choix of getChoicesArray(i).controls; let j = index" [formGroupName]="j"
                             class="border p-4 rounded mb-2">
                            <div class="flex items-center justify-between mb-2">
                                <label for="choix{{ i }}{{ j }}" class="font-medium">Choix {{ j + 1 }} :</label>
                                <div class="flex gap-2">
                                    <button *ngIf="j !== getChoicesArray(i).controls.length - 1" type="button"
                                            (click)="moveChoice(itemMovingDirection.DOWN, i, j)"
                                            class="p-2 hover:bg-gray-100 rounded">
                                        <mat-icon matTooltipClass="custom-tooltip" matTooltip="Déplacer le choix vers le bas">keyboard_arrow_down
                                        </mat-icon>
                                    </button>
                                    <button *ngIf="j !== 0" type="button"
                                            (click)="moveChoice(itemMovingDirection.UP, i, j)"
                                            class="p-2 hover:bg-gray-100 rounded">
                                        <mat-icon matTooltipClass="custom-tooltip" matTooltip="Déplacer le choix vers le haut">keyboard_arrow_up
                                        </mat-icon>
                                    </button>
                                    <button type="button" (click)="addChoice(i, j)"
                                            class="p-2 hover:bg-blue-100 rounded">
                                        <mat-icon matTooltipClass="custom-tooltip" matTooltip="Ajouter un choix" class="text-blue-600">add</mat-icon>
                                    </button>
                                    <button type="button" (click)="removeChoice(i, j)"
                                            class="p-2 hover:bg-red-100 rounded">
                                        <mat-icon matTooltipClass="custom-tooltip" matTooltip="Supprimer le choix" class="text-red-600">remove</mat-icon>
                                    </button>
                                </div>
                            </div>

                            <input maxlength="50" type="text" [attr.id]="'choix' + i + j" name="textChoix{{ i }}{{ j }}"
                                   formControlName="text" required class="w-full p-2 border rounded" placeholder="Texte du choix">
                            <div *ngIf="choix.get('text')?.hasError('required') && choix.get('text')?.touched"
                                 class="text-red-600 text-sm">
                                Le texte est requis
                            </div>
                            <div class="flex gap-4 mt-2">
                                <label class="flex items-center">
                                    <input type="radio" [attr.id]="'trueRadio' + i + j" formControlName="isCorrect"
                                           value="true" class="mr-1 form-radio"> Vrai
                                </label>
                                <label class="flex items-center">
                                    <input type="radio" [attr.id]="'falseRadio' + i + j" formControlName="isCorrect"
                                           value="false" class="mr-1 form-radio"> Faux
                                </label>
                            </div>
                        </div>
                    </div>

                </div>

                <div *ngIf="!question.get('beingModified')?.value" class="space-y-4">
                    <p class="font-medium text-lg">Question {{i + 1}}:</p>
                    <p class="text-sm text-gray-600">
                        <span class="font-semibold">Type de la question:</span> {{question.get('type')?.value}}
                    </p>
                    <p class="truncate text-sm text-gray-600">
                        <span class="font-semibold">Contenu de la question:</span> {{question.get('text')?.value}}
                    </p>
                    <p class="truncate text-sm text-gray-600">
                        <span class="font-semibold">Points:</span> {{question.get('points')?.value}}
                    </p>
                    <p *ngIf="question.get('imageUrl')?.value" class="text-sm text-gray-600">
                        <span class="font-semibold">Image:</span>
                        <img [src]="question.get('imageUrl')?.value" alt="Question Image" class="w-16 h-16 object-cover mt-2 rounded">
                    </p>
                    <div *ngIf="question.get('type')?.value === 'QCM'" class="space-y-4">
                        <p class="text-sm font-semibold">Choix :</p>
                        <div class="space-y-2">
                            <div *ngFor="let choice of getChoicesArray(i).controls; index as j"
                                 [ngClass]="choice.get('isCorrect')?.value === 'true' ? 'border-green-500 bg-green-50' : 'border-red-500 bg-red-50'"
                                 class="border-l-4 p-3 rounded-lg">

                                <p class="text-sm font-medium">
                                    Choix {{ j + 1 }}
                                    <span [ngClass]="choice.get('isCorrect')?.value === 'true' ? 'text-green-600' : 'text-red-600'">
                    ({{ choice.get('isCorrect')?.value === 'true' ? 'Vrai' : 'Faux' }})
                </span>
                                </p>

                                <p class="text-gray-700 ml-4">{{ choice.get('text')?.value }}</p>
                            </div>
                        </div>
                    </div>



                    <div *ngIf="question.get('type')?.value === 'QRE'" class="space-y-2">
                        <p class="text-sm text-gray-700 font-semibold">Intervalle:</p>
                        <ul class="list-none text-sm pl-4 bg-gray-50 text-gray-800 p-2 rounded-lg">
                            <li>Min : {{question.get('interval.min')?.value}}</li>
                            <li>Max : {{question.get('interval.max')?.value}}</li>
                        </ul>
                        <p class="truncate text-sm text-gray-600">
                            <span class="font-semibold">Bonne réponse :</span> {{question.get('answer')?.value}}
                        </p>
                        <p class="truncate text-sm text-gray-600">
                            <span class="font-semibold">Marge de tolérance :</span> {{question.get('margin')?.value}}
                        </p>
                    </div>


                </div>

                <div class="flex justify-end mt-4">
                    <button class="inline-flex items-center bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
                            *ngIf="question.get('beingModified')?.value"
                            type="button"
                            (click)="saveQuestion(i)"
                            matTooltipClass="custom-tooltip"
                            matTooltip="Sauvegarder la question">
                        <mat-icon class="mr-2">check_circle</mat-icon>
                        Confirmer
                    </button>
                </div>

            </div>
        </ng-container>


        <div class="flex justify-center mt-4">
            <button type="button" *ngIf='(questionsArray ? questionsArray.length - 1 : 0) < 0' class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
                    (click)="addQuestion(questionsArray ? questionsArray.length - 1 : 0)">
                Ajouter une question
            </button>
        </div>
    </div>
</div>
