<div [formGroup]="parentGroup" (keydown.enter)="$event.preventDefault()" class="space-y-6">
    <div class="bg-bgPrimary rounded-lg pt-6 space-y-4" formArrayName="questions">
        <p *ngIf="questionsArray?.length !== 0" class="text-lg font-medium text-primary">Questions :</p>

        <ng-container *ngFor="let question of questionsArray?.controls; let i = index">
            <div [formGroupName]="i" class="border rounded-lg p-4 mb-4 shadow-sm">

                <div class="flex gap-2 mb-2 items-center">
                    <div class="flex gap-2">
                        <button (click)="addQuestion(i)" class="p-2 rounded hover:opacity-75" type="button">
                            <mat-icon [matTooltip]="'QUIZ_CREATION.QUESTION_LIST.ADD_QUESTION' | translate"
                                      class="!text-bgButton"
                                      matTooltipClass="custom-tooltip">add
                            </mat-icon>
                        </button>

                        <button (click)="modifyQuestion(i)"
                                *ngIf="!question.get('beingModified')?.value" class="p-2 rounded hover:opacity-75"
                                type="button">
                            <mat-icon [matTooltip]="'QUIZ_CREATION.QUESTION_LIST.MODIFY_QUESTION' | translate"
                                      class="!text-primary"
                                      matTooltipClass="custom-tooltip">edit
                            </mat-icon>
                        </button>
                    </div>

                    <div class="flex gap-2 justify-center flex-1">
                        <button (click)="moveQuestionUp(i)" *ngIf="i !== 0" class="p-2 rounded hover:opacity-75"
                                type="button">
                            <mat-icon [matTooltip]="'QUIZ_CREATION.QUESTION_LIST.MOVE_UP' | translate"
                                      class="!text-primary"
                                      matTooltipClass="custom-tooltip">keyboard_arrow_up
                            </mat-icon>
                        </button>

                        <button (click)="moveQuestionDown(i)" *ngIf="i + 1 !== questionsArray?.length"
                                class="p-2 rounded hover:opacity-75"
                                type="button">
                            <mat-icon [matTooltip]="'QUIZ_CREATION.QUESTION_LIST.MOVE_DOWN' | translate"
                                      class="!text-primary"
                                      matTooltipClass="custom-tooltip">keyboard_arrow_down
                            </mat-icon>
                        </button>
                    </div>

                    <button (click)="removeQuestion(i)" class="p-2 rounded hover:opacity-75" type="button">
                        <mat-icon [matTooltip]="'QUIZ_CREATION.QUESTION_LIST.DELETE_QUESTION' | translate"
                                  class="!text-error"
                                  matTooltipClass="custom-tooltip">delete
                        </mat-icon>
                    </button>
                </div>


                <div class="my-4"></div>


                <div *ngIf="question.get('beingModified')?.value">

                    <div [ngClass]="{ 'show': isPopUpVisible }" class="popup">
                        <span [innerHTML]="questionErrors.join('<br>')" class="popuptext"></span>
                    </div>
                    <div [attr.id]="'question' + i" class="space-y-4">
                        <p class="font-medium text-lg !text-primary">{{ 'QUIZ_CREATION.QUESTION_LIST.QUESTION_LABEL' | translate }} {{ i + 1 }}
                            :</p>

                        <label class="block text-sm font-medium font-semibold !text-primary" for="type{{ i }}">
                            {{ 'QUIZ_CREATION.QUESTION_LIST.QUESTION_TYPE_LABEL' | translate }}
                        </label>
                        <select class="w-full p-2 border rounded" formControlName="type" name="type{{ i }}">
                            <option value="QCM">QCM</option>
                            <option value="QRL">QRL</option>
                            <option value="QRE">QRE</option>
                        </select>
                        <p *ngIf="question.get('type')?.hasError('required') && question.get('type')?.touched"
                           class="!text-error text-sm">
                            {{ 'QUIZ_CREATION.QUESTION_LIST.QUESTION_TYPE_REQUIRED' | translate }}
                        </p>

                        <label class="block text-sm font-medium !text-primary" for="text{{ i }}">
                            {{ 'QUIZ_CREATION.QUESTION_LIST.QUESTION_TEXT_LABEL' | translate }}
                        </label>
                        <input [attr.id]="'text' + i"
                               [placeholder]="'QUIZ_CREATION.QUESTION_LIST.QUESTION_TEXT_PLACEHOLDER' | translate"
                               class="w-full p-2 border rounded" formControlName="text"
                               maxlength="100"
                               name="text{{ i }}"
                               type="text">
                        <p *ngIf="question.get('text')?.hasError('required') && question.get('text')?.touched"
                           class="!text-error text-sm">
                            {{ 'QUIZ_CREATION.QUESTION_LIST.QUESTION_TEXT_REQUIRED' | translate }}
                        </p>
                        <p *ngIf="question.get('text')?.hasError('pattern') && question.get('text')?.touched"
                           class="!text-error text-sm">
                            {{ 'QUIZ_CREATION.QUESTION_LIST.QUESTION_TEXT_PATTERN' | translate }}
                        </p>

                        <label class="block text-sm font-medium" for="points{{ i }}">
                            {{ 'QUIZ_CREATION.QUESTION_LIST.QUESTION_POINTS_LABEL' | translate }}
                        </label>
                        <input [attr.id]="'points' + i"
                               [placeholder]="'QUIZ_CREATION.QUESTION_LIST.QUESTION_POINTS_PLACEHOLDER' | translate"
                               class="w-full p-2 border rounded" formControlName="points"
                               name="points{{ i }}"
                               type="number">
                        <p *ngIf="question.get('points')?.hasError('required') && question.get('points')?.touched"
                           class="!text-error text-sm">
                            {{ 'QUIZ_CREATION.QUESTION_LIST.QUESTION_POINTS_REQUIRED' | translate }}
                        </p>
                        <p *ngIf="question.get('points')?.invalid && question.get('points')?.touched"
                           class="!text-error text-sm">
                            {{ 'QUIZ_CREATION.QUESTION_LIST.QUESTION_POINTS_INVALID' | translate }}
                        </p>

                        <div class="space-y-4">
                            <label class="block text-sm font-semibold mb-2">
                                {{ 'QUIZ_CREATION.QUESTION_LIST.IMAGE_OPTIONAL' | translate }}
                            </label>

                            <div class="flex flex-col gap-4">
                                <label class="cursor-pointer inline-flex items-center px-4 py-2 bg-bgSecondary border border-gray-300 rounded-md text-sm font-medium w-fit"
                                       for="imageUpload{{ i }}">
                                    <mat-icon class="mr-2 text-primary">upload</mat-icon>
                                    {{ 'QUIZ_CREATION.QUESTION_LIST.IMAGE_CHOOSE' | translate }}
                                    <input (change)="onImageSelected($event, i)"
                                           [id]="'imageUpload' + i"
                                           accept="image/jpeg,image/png,image/jpg,image/webp"
                                           class="hidden"
                                           type="file">
                                </label>
                                <mat-spinner *ngIf="isUploading" [diameter]="40" [strokeWidth]="5"
                                             class="text-indigo-500 mx-auto block"></mat-spinner>

                                <div *ngIf="question.get('imageUrl')?.value" class="flex flex-col gap-2">
                                    <img [alt]="'QUIZ_CREATION.QUESTION_LIST.IMAGE_PREVIEW_ALT' | translate"
                                         [src]="question.get('imageUrl')?.value"
                                         class="w-40 h-40 object-cover rounded">

                                    <button (click)="removeImage(i)"
                                            class="inline-flex items-center px-3 py-2 bg-red-50 text-red-700 rounded w-fit hover:opacity-75">
                                        <mat-icon class="mr-1">delete</mat-icon>
                                        {{ 'QUIZ_CREATION.QUESTION_LIST.IMAGE_DELETE' | translate }}
                                    </button>
                                </div>
                            </div>

                            <p *ngIf="imageUploadError" class="text-sm !text-error">
                                {{imageUploadError}}
                            </p>
                        </div>

                        <div *ngIf="question.get('type')?.value === 'QCM'" class="space-y-2 text-primary">
                            <p>{{ 'QUIZ_CREATION.QUESTION_LIST.CHOICES' | translate }}</p>
                            <button (click)="addChoice(i, getChoicesArray(i).controls.length - 1)"
                                    [disabled]="getChoicesArray(i).controls.length !== 0"
                                    [ngClass]="{ 'hidden': getChoicesArray(i).controls.length !== 0 }"
                                    class="px-4 py-2 bg-blue-500 text-white rounded hover:opacity-75"
                                    type="button">
                                {{ 'QUIZ_CREATION.QUESTION_LIST.ADD_CHOICE' | translate }}
                            </button>
                        </div>


                        <div *ngIf="question.get('type')?.value === 'QRE'" class="space-y-4">
                            <label class="block text-sm font-medium">{{ 'QUIZ_CREATION.QUESTION_LIST.ANSWER_INTERVAL' | translate }}</label>
                            <div [formGroupName]="'interval'" class="flex gap-4">
                                <input class="w-1/2 p-2 border rounded" formControlName="min" id="minInterval{{ i }}"
                                       placeholder="{{ 'QUIZ_CREATION.QUESTION_LIST.MINIMUM' | translate }}"
                                       type="number">
                                <input class="w-1/2 p-2 border rounded" formControlName="max" id="maxInterval{{ i }}"
                                       placeholder="{{ 'QUIZ_CREATION.QUESTION_LIST.MAXIMUM' | translate }}"
                                       type="number">
                            </div>
                            <p *ngIf="question.get('interval')?.hasError('maxLessThanMin')"
                               class="!text-error text-sm">
                                {{ 'QUIZ_CREATION.QUESTION_LIST.MAX_LESS_THAN_MIN_ERROR' | translate }}
                            </p>
                            <p *ngIf="question.get('interval.min')?.hasError('pattern') && question.get('interval.min')?.touched && !question.get('interval.min')?.hasError('max') && !question.get('interval.min')?.hasError('min')"
                               class="!text-error text-sm">
                                {{ 'QUIZ_CREATION.QUESTION_LIST.MIN_INTEGER_ERROR' | translate }}
                            </p>
                            <p *ngIf="question.get('interval.min')?.hasError('required') && question.get('interval.min')?.touched"
                               class="!text-error text-sm">
                                {{ 'QUIZ_CREATION.QUESTION_LIST.MIN_REQUIRED' | translate }}
                            </p>
                            <p *ngIf="question.get('interval.max')?.hasError('pattern') && question.get('interval.max')?.touched && !question.get('interval.max')?.hasError('max') && !question.get('interval.max')?.hasError('min')"
                               class="!text-error text-sm">
                                {{ 'QUIZ_CREATION.QUESTION_LIST.MAX_INTEGER_ERROR' | translate }}
                            </p>
                            <p *ngIf="question.get('interval.max')?.hasError('required') && question.get('interval.max')?.touched"
                               class="!text-error text-sm">
                                {{ 'QUIZ_CREATION.QUESTION_LIST.MAX_REQUIRED' | translate }}
                            </p>
                            <p *ngIf="question.get('interval.max')?.hasError('max') && question.get('interval.max')?.touched"
                               class="!text-error text-sm">
                                {{ 'QUIZ_CREATION.QUESTION_LIST.MAX_TOO_LARGE' | translate }}
                            </p>
                            <p *ngIf="question.get('interval.min')?.hasError('max') && question.get('interval.min')?.touched"
                               class="!text-error text-sm">
                                {{ 'QUIZ_CREATION.QUESTION_LIST.MIN_TOO_LARGE' | translate }}
                            </p>
                            <p *ngIf="question.get('interval.max')?.hasError('min') && question.get('interval.max')?.touched"
                               class="!text-error text-sm">
                                {{ 'QUIZ_CREATION.QUESTION_LIST.MAX_TOO_SMALL' | translate }}
                            </p>
                            <p *ngIf="question.get('interval.min')?.hasError('min') && question.get('interval.min')?.touched"
                               class="!text-error text-sm">
                                {{ 'QUIZ_CREATION.QUESTION_LIST.MIN_TOO_SMALL' | translate }}
                            </p>

                            <label class="block text-sm font-medium"
                                   for="answer{{ i }}">{{ 'QUIZ_CREATION.QUESTION_LIST.CORRECT_ANSWER' | translate }}</label>
                            <input class="w-full p-2 border rounded" formControlName="answer" id="answer{{ i }}"
                                   placeholder="{{ 'QUIZ_CREATION.QUESTION_LIST.ENTER_CORRECT_ANSWER' | translate }}"
                                   type="number">
                            <p *ngIf="question.get('answer')?.hasError('answerOutOfRange') && question.get('answer')?.touched"
                               class="!text-error text-sm">
                                {{ 'QUIZ_CREATION.QUESTION_LIST.ANSWER_OUT_OF_RANGE' | translate }}
                            </p>
                            <p *ngIf="question.get('answer')?.hasError('pattern') && question.get('answer')?.touched && !question.get('answer')?.hasError('answerOutOfRange')"
                               class="!text-error text-sm">
                                {{ 'QUIZ_CREATION.QUESTION_LIST.ANSWER_INTEGER_ERROR' | translate }}
                            </p>
                            <p *ngIf="question.get('answer')?.hasError('max') && question.get('answer')?.touched && !question.get('answer')?.hasError('answerOutOfRange')"
                               class="!text-error text-sm">
                                {{ 'QUIZ_CREATION.QUESTION_LIST.ANSWER_TOO_LARGE' | translate }}
                            </p>
                            <p *ngIf="question.get('answer')?.hasError('min') && question.get('answer')?.touched && !question.get('answer')?.hasError('answerOutOfRange')"
                               class="!text-error text-sm">
                                {{ 'QUIZ_CREATION.QUESTION_LIST.ANSWER_TOO_SMALL' | translate }}
                            </p>

                            <label class="block text-sm font-medium"
                                   for="margin{{ i }}">{{ 'QUIZ_CREATION.QUESTION_LIST.TOLERANCE_MARGIN' | translate }}</label>
                            <input class="w-full p-2 border rounded" formControlName="margin" id="margin{{ i }}"
                                   placeholder="{{ 'QUIZ_CREATION.QUESTION_LIST.ENTER_MARGIN' | translate }}"
                                   type="number">
                            <p *ngIf="question.get('margin')?.hasError('marginTooLarge') && question.get('margin')?.touched"
                               class="!text-error text-sm">
                                {{ 'QUIZ_CREATION.QUESTION_LIST.TOLERANCE_MARGIN_TOO_LARGE' | translate }}
                                ({{ calculateMarginLimit(question.get('interval.min')?.value, question.get('interval.max')?.value) }}).
                            </p>
                            <p *ngIf="question.get('margin')?.hasError('required') && question.get('margin')?.touched"
                               class="!text-error text-sm">
                                {{ 'QUIZ_CREATION.QUESTION_LIST.TOLERANCE_MARGIN_REQUIRED' | translate }}
                            </p>
                            <p *ngIf="question.get('margin')?.hasError('min') && question.get('margin')?.touched"
                               class="!text-error text-sm">
                                {{ 'QUIZ_CREATION.QUESTION_LIST.TOLERANCE_MARGIN_MIN_ERROR' | translate }}
                            </p>

                            <p *ngIf="hasValidInterval(question)"
                               class="bg-green-50 text-green-700 p-2 rounded-lg text-sm font-medium mt-2">
                                {{ 'QUIZ_CREATION.QUESTION_LIST.VALID_INTERVAL_MESSAGE' | translate }}
                                [
                                {{ calculateAnswerInterval(
                                question.get('answer')?.value,
                                question.get('margin')?.value,
                                question.get('interval.min')?.value,
                                question.get('interval.max')?.value
                            ) }}
                                ]
                            </p>
                        </div>
                    </div>

                    <div class="space-y-4 mt-4" formArrayName="choices">
                        <div *ngFor="let choix of getChoicesArray(i).controls; let j = index" [formGroupName]="j"
                             class="border p-4 rounded mb-2">
                            <div class="flex items-center justify-between mb-2">
                                <label class="font-medium"
                                       for="choix{{ i }}{{ j }}">{{ 'QUIZ_CREATION.QUESTION_LIST.CHOICE.CHOICE' | translate }} {{ j + 1 }}
                                    :</label>
                                <div class="flex gap-2">
                                    <button (click)="moveChoice(itemMovingDirection.DOWN, i, j)"
                                            *ngIf="j !== getChoicesArray(i).controls.length - 1"
                                            class="p-2 hover:opacity-75 rounded"
                                            type="button">
                                        <mat-icon class="!text-primary"
                                                [matTooltip]="'QUIZ_CREATION.QUESTION_LIST.CHOICE.MOVE_DOWN' | translate"
                                                matTooltipClass="custom-tooltip">
                                            keyboard_arrow_down
                                        </mat-icon>
                                    </button>
                                    <button (click)="moveChoice(itemMovingDirection.UP, i, j)" *ngIf="j !== 0"
                                            class="p-2 hover:opacity-75 rounded"
                                            type="button">
                                        <mat-icon class="!text-primary"
                                                [matTooltip]="'QUIZ_CREATION.QUESTION_LIST.CHOICE.MOVE_UP' | translate"
                                                matTooltipClass="custom-tooltip">
                                            keyboard_arrow_up
                                        </mat-icon>
                                    </button>
                                    <button (click)="addChoice(i, j)" class="p-2 hover:opacity-75 rounded"
                                            type="button">
                                        <mat-icon
                                                [matTooltip]="'QUIZ_CREATION.QUESTION_LIST.CHOICE.ADD_CHOICE' | translate"
                                                class="text-blue-600"
                                                matTooltipClass="custom-tooltip">add
                                        </mat-icon>
                                    </button>
                                    <button (click)="removeChoice(i, j)" class="p-2 hover:opacity-75 rounded"
                                            type="button">
                                        <mat-icon
                                                [matTooltip]="'QUIZ_CREATION.QUESTION_LIST.CHOICE.REMOVE_CHOICE' | translate"
                                                class="!text-error"
                                                matTooltipClass="custom-tooltip">remove
                                        </mat-icon>
                                    </button>
                                </div>
                            </div>

                            <input [attr.id]="'choix' + i + j"
                                   [placeholder]="'QUIZ_CREATION.QUESTION_LIST.CHOICE.TEXT_PLACEHOLDER' | translate"
                                   class="w-full p-2 border rounded" formControlName="text"
                                   maxlength="50" name="textChoix{{ i }}{{ j }}" required
                                   type="text">
                            <div *ngIf="choix.get('text')?.hasError('required') && choix.get('text')?.touched"
                                 class="!text-error text-sm">
                                {{ 'QUIZ_CREATION.QUESTION_LIST.CHOICE.TEXT_REQUIRED' | translate }}
                            </div>
                            <div class="flex gap-4 mt-2">
                                <label class="flex items-center">
                                    <input [attr.id]="'trueRadio' + i + j" class="mr-1 form-radio"
                                           formControlName="isCorrect"
                                           type="radio"
                                           value="true"> {{ 'QUIZ_CREATION.QUESTION_LIST.CHOICE.TRUE' | translate }}
                                </label>
                                <label class="flex items-center">
                                    <input [attr.id]="'falseRadio' + i + j" class="mr-1 form-radio"
                                           formControlName="isCorrect"
                                           type="radio"
                                           value="false"> {{ 'QUIZ_CREATION.QUESTION_LIST.CHOICE.FALSE' | translate }}
                                </label>
                            </div>
                        </div>
                    </div>


                </div>

                <div *ngIf="!question.get('beingModified')?.value" class="space-y-4 text-primary">
                    <p class="font-medium text-lg">{{ 'QUIZ_CREATION.QUESTION_LIST.QUESTION_SUMMARY.QUESTION' | translate }} {{i + 1}}:</p>
                    <p class="text-sm">
                        <span class="font-semibold">{{ 'QUIZ_CREATION.QUESTION_LIST.QUESTION_SUMMARY.QUESTION_TYPE' | translate }}:</span> {{question.get('type')?.value}}
                    </p>
                    <p class="truncate text-sm">
                        <span class="font-semibold">{{ 'QUIZ_CREATION.QUESTION_LIST.QUESTION_SUMMARY.QUESTION_CONTENT' | translate }}:</span> {{question.get('text')?.value}}
                    </p>
                    <p class="truncate text-sm">
                        <span class="font-semibold">{{ 'QUIZ_CREATION.QUESTION_LIST.QUESTION_SUMMARY.QUESTION_POINTS' | translate }}:</span> {{question.get('points')?.value}}
                    </p>
                    <p *ngIf="question.get('imageUrl')?.value" class="text-sm">
                        <span class="font-semibold">{{ 'QUIZ_CREATION.QUESTION_LIST.QUESTION_SUMMARY.QUESTION_IMAGE' | translate }}:</span>
                        <img [src]="question.get('imageUrl')?.value" alt="Question Image" class="w-16 h-16 object-cover mt-2 rounded">
                    </p>
                    <div *ngIf="question.get('type')?.value === 'QCM'" class="space-y-4">
                        <p class="text-sm font-semibold">{{ 'QUIZ_CREATION.QUESTION_LIST.QUESTION_SUMMARY.CHOICES' | translate }} :</p>
                        <div class="space-y-2">
                            <div *ngFor="let choice of getChoicesArray(i).controls; index as j"
                                 [ngClass]="choice.get('isCorrect')?.value === 'true' ? 'border-green-500 bg-green-50' : 'border-red-500 bg-red-50'"
                                 class="border-l-4 p-3 rounded-lg">

                                <p class="text-sm font-medium text-black">
                                    {{ 'QUIZ_CREATION.QUESTION_LIST.QUESTION_SUMMARY.CHOICE' | translate }} {{ j + 1 }}
                                    <span [ngClass]="choice.get('isCorrect')?.value === 'true' ? 'text-green-600' : '!text-error'">
                        ({{ choice.get('isCorrect')?.value === 'true' ? ('QUIZ_CREATION.QUESTION_LIST.QUESTION_SUMMARY.TRUE' | translate) : ('QUIZ_CREATION.QUESTION_LIST.QUESTION_SUMMARY.FALSE' | translate) }})
                    </span>
                                </p>

                                <p class="ml-4 text-black">{{ choice.get('text')?.value }}</p>
                            </div>
                        </div>
                    </div>


                    <div *ngIf="question.get('type')?.value === 'QRE'" class="space-y-2 !text-primary">
                        <p class="text-sm font-semibold">{{ 'QUIZ_CREATION.QUESTION_LIST.QUESTION_SUMMARY.INTERVAL' | translate }}:</p>
                        <ul class="list-none text-sm pl-4 bg-bgSecondary p-2 rounded-lg">
                            <li>{{ 'QUIZ_CREATION.QUESTION_LIST.QUESTION_SUMMARY.MIN' | translate }} : {{question.get('interval.min')?.value}}</li>
                            <li>{{ 'QUIZ_CREATION.QUESTION_LIST.QUESTION_SUMMARY.MAX' | translate }} : {{question.get('interval.max')?.value}}</li>
                        </ul>
                        <p class="truncate text-sm">
                            <span class="font-semibold">{{ 'QUIZ_CREATION.QUESTION_LIST.QUESTION_SUMMARY.CORRECT_ANSWER' | translate }} :</span> {{question.get('answer')?.value}}
                        </p>
                        <p class="truncate text-sm">
                            <span class="font-semibold">{{ 'QUIZ_CREATION.QUESTION_LIST.QUESTION_SUMMARY.MARGIN_OF_ERROR' | translate }} :</span> {{question.get('margin')?.value}}
                        </p>
                    </div>

                </div>
                <div class="flex justify-end mt-4">
                    <button (click)="saveQuestion(i)"
                            *ngIf="question.get('beingModified')?.value"
                            class="inline-flex items-center bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
                            [matTooltip]="'QUIZ_CREATION.QUESTION_LIST.SAVE_QUESTION_TOOLTIP' | translate"
                            matTooltipClass="custom-tooltip"
                            type="button">
                        <mat-icon class="mr-2">check_circle</mat-icon>
                        {{ 'QUIZ_CREATION.QUESTION_LIST.CONFIRM_QUESTION' | translate }}
                    </button>
                </div>
            </div>
        </ng-container>


        <div class="flex justify-center mt-4">
            <button (click)="addQuestion(questionsArray ? questionsArray.length - 1 : 0)"
                    *ngIf='(questionsArray ? questionsArray.length - 1 : 0) < 0'
                    class="bg-bgButton text-secondary px-4 py-2 rounded hover:opacity-75"
                    type="button">
                {{ 'QUIZ_CREATION.QUESTION_LIST.ADD_QUESTION_BUTTON' | translate }}
            </button>
        </div>
    </div>
</div>
