
.active:hover {
    opacity: 0.7;
    cursor: pointer;
}

.observer {
    cursor: not-allowed;
}

.selected {
    background-color: var(--color-bg-button);
    color: var(--color-secondary);
}

.good-answer {
    background-color: #00FF00;
    color: #000000;
}

.bad-answer {
    background-color: #FF0000;
    color: #FFFFFF;
}
