
.active:hover {
    background-color: rgb(177, 172, 172);
    cursor: pointer;
}

.selected {
    background-color: #007bff;
    color: #FFFFFF
}

.good-answer {
    background-color: #00FF00;
    color: #000000;
}

.bad-answer {
    background-color: #FF0000;
    color: #FFFFFF;
}
