<popout-window #popupWindow (closed)="closingPopOut($event)" [windowWidth]="350" [windowHeight]="600">
    <ng-container *ngIf="user$ | async as user">
        <div class="chat-container"
             [ngClass]="{'closed': state === 0, 'opened': state === 1, 'outside': state === 2}">
            <div class="chat-header" [ngClass]="{'closed': state === 0, 'opened': state === 1, 'outside': state === 2}"
                 (click)="toggleChatState()">
                <span class="!text-secondary"><i class="bi bi-chat-dots-fill"></i> {{ 'CHAT_COMPONENT.CHAT' | translate }}</span>
                <button *ngIf="this.state !== 2" (click)="popOut()"><i class="bi bi-box-arrow-up-right !text-secondary"></i>
                </button>
            </div>
            <ng-container *ngIf="!isJoiningCanal && !isCreateCanal && !isDeleteCanal" class="!bg-bgPrimary">
                <div *ngIf="!isChatFocused" class="button-container canal-list">
                    <button (click)="createNewCanal()">{{ 'CHAT_COMPONENT.ADD_CHANNEL' | translate }}</button>
                    <button (click)="joinNewCanal()">{{ 'CHAT_COMPONENT.JOIN_CHANNEL' | translate }}</button>
                </div>
                <h2 *ngIf="!isChatFocused" class="canal-list">{{ 'CHAT_COMPONENT.MY_CHANNELS' | translate }}</h2>
                <div class="canal-content" *ngIf="state !== 0 && !isChatFocused">
                    <div *ngIf="!isChatFocused" class="canal-list">
                        <ul style="list-style: none; padding: 0;">
                            <ng-container *ngFor="let canal of canals$ | async; trackBy: trackById">
                                <li *ngIf="canal.permittedUsers.includes(user.uid) || canal.name === 'general'"
                                    (click)="loadCanal(canal.id!)"
                                    style="display: flex; justify-content: space-between; align-items: center; padding: 8px; cursor: pointer;">
                                    <span>{{ canal.name }}</span>
                                    <div class="button-group" style="display: flex; gap: 8px;">
                                        <button *ngIf="!this.checkCanalType(canal.name)"
                                                (click)="leaveChat(canal.id!); $event.stopPropagation()">
                                            <i style="color: var(--color-primary); display: flex; align-items: center;"
                                               class="bi bi-box-arrow-right"></i>
                                        </button>
                                        <button *ngIf="!this.checkCanalType(canal.name)"
                                                (click)="accessDeleteCanal(canal.id!, canal.name!); $event.stopPropagation()">
                                            <i style="color: red; display: flex; align-items: center;"
                                               class="bi bi-trash-fill"></i>
                                        </button>
                                    </div>
                                </li>
                            </ng-container>
                        </ul>
                    </div>
                </div>
                <div class="chat-content" *ngIf="state !== 0 && isChatFocused">
                    <ng-container *ngIf="currentCanal$ | async as canal">
                        <div *ngIf="isChatFocused" class="chat-area">
                            <div class="canal-header">
                                <button class="text-bgButton" (click)="toggleIsChat()"><i class="bi bi-caret-left-fill">{{ 'CHAT_COMPONENT.CHANNELS' | translate }}</i></button>

                                <h3 class="text-primary"><strong>{{ canal!.name }}</strong></h3>
                            </div>
                            <div #chatscrollable class="messages" *ngIf="canal">
                                <ng-container *ngFor="let msg of canal!.messages">
                                    <div [ngClass]="['message', getMessageClass(msg, user)]">
                                        <ng-container *ngIf="getMessageClass(msg, user) == 'received'">
                                            <app-avatar [isChat]="true" [uid]="msg.userUid" [size]="'small'"></app-avatar>
                                            <div class="bubble">
                                                <span>{{ msg.message }}</span>
                                                <small>{{ msg.createdAt.toDate() | date: 'short' }}</small>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="getMessageClass(msg, user) == 'sent'">
                                            <div class="bubble">
                                                <span class="!text-secondary">{{ msg.message }}</span>
                                                <small class="!text-secondary">{{ msg.createdAt.toDate() | date: 'short' }}</small>
                                            </div>
                                            <app-avatar [isChat]="true" [uid]="msg.userUid" [size]="'small'"></app-avatar>
                                        </ng-container>
                                    </div>
                                </ng-container>
                            </div>
                            <small *ngIf="!canal.name" class="error-message">{{ 'CHAT_COMPONENT.CHANNEL_DELETED' | translate }}
                            </small>
                            <form [formGroup]="messageForm" (ngSubmit)="sendMessage()" class="message-form">
                                <input id="input_message" type="text" formControlName="message"
                                       placeholder="{{'CHAT_COMPONENT.ENTER_MESSAGE' | translate}}"
                                       required>
                                <button type="submit" [disabled]="!messageForm.valid"><i class="bi bi-send-fill"></i>
                                </button>
                                <div *ngIf="messageForm.get('message')?.invalid">
                                    <small *ngIf="messageForm.get('message')?.errors?.max"
                                           class="error-message">{{ messageForm.get('message')?.errors }}</small>
                                </div>
                            </form>
                            <small *ngIf="messageForm.get('message')?.errors?.['maxlength']" class="error-message">
                                {{ 'CHAT_COMPONENT.MESSAGE_MAX_LENGTH' | translate }}
                            </small>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
            <div *ngIf="isCreateCanal && !isDeleteCanal" class="container">
                <div class="canal-header">
                    <button class="text-bgButton" (click)="returnToMenu()"><i
                                                        class="bi bi-caret-left-fill text-bgButton">{{ 'CHAT_COMPONENT.BACK' | translate }}</i></button>
                    <h2 class="text-primary">{{ 'CHAT_COMPONENT.CHANNEL_CREATION' | translate }}</h2>
                </div>
                <form [formGroup]="canalNameForm" (ngSubmit)="createCanal()" class="message-form">
                    <input
                            id="input_canal"
                            type="text"
                            formControlName="canalName"
                            placeholder="{{'CHAT_COMPONENT.ENTER_CHANNEL_NAME' | translate}}"
                            required
                    />
                    <div *ngIf="canalNameForm.get('canalName')?.invalid && (canalNameForm.get('canalName')?.touched || canalNameForm.get('canalName')?.dirty)">
                        <small *ngIf="canalNameForm.get('canalName')?.errors?.required" class="error-message">
                            {{ 'CHAT_COMPONENT.CHANNEL_NAME_REQUIRED' | translate }}
                        </small>
                        <small *ngIf="canalNameForm.get('canalName')?.errors?.pattern" class="error-message">
                            {{ 'CHAT_COMPONENT.CHANNEL_NAME_PATTERN' | translate }}
                        </small>
                        <small *ngIf="canalNameForm.get('canalName')?.errors?.['maxlength']" class="error-message">
                            {{ 'CHAT_COMPONENT.CHANNEL_NAME_MAX_LENGTH' | translate }}
                        </small>
                    </div>
                    <div>
                        <small *ngIf="feedback" class="error-message">{{ feedback }}</small>
                    </div>
                    <button type="submit" [disabled]="!canalNameForm.valid">
                        {{ 'CHAT_COMPONENT.CREATE' | translate }}
                    </button>
                </form>
            </div>
            <div *ngIf="isDeleteCanal" class="container">
                <div class="canal-header">
                    <button class="text-bgButton" (click)="returnToMenu()"><i
                                                        class="bi bi-caret-left-fill">{{ 'CHAT_COMPONENT.BACK' | translate }}</i></button>
                    <h2 class="text-primary">{{ 'CHAT_COMPONENT.CHANNEL_DELETION' | translate }}</h2>
                </div>
                <div class="message-form text-primary">
                    <h3 style="text-align: justify">
                        <strong>{{ 'CHAT_COMPONENT.DELETE_WARNING' | translate }}</strong><br>
                        {{ 'CHAT_COMPONENT.DELETE_CONFIRMATION' | translate: { channelName: canalNameToDelete } }}
                    </h3>
                    <button style="background: red; color: white" (click)="deleteCanal(canalIdToDelete)">
                        {{ 'CHAT_COMPONENT.DELETE' | translate }}
                    </button>
                </div>
            </div>
            <div *ngIf="isJoiningCanal && !isDeleteCanal" class="container">
                <div class="canal-header">
                    <button class="text-bgButton" (click)="returnToMenu()"><i
                                                        class="bi bi-caret-left-fill">{{ 'CHAT_COMPONENT.BACK' | translate }}</i></button>
                    <h2 class="text-primary">{{ 'CHAT_COMPONENT.JOIN_CHANNEL' | translate }}</h2>
                </div>
                <div class="bg-center flex flex-col h-[500px]">
                    <mat-form-field>
                        <input matInput
                               placeholder="{{'CHAT_COMPONENT.SEARCH_CHANNEL' | translate}}"
                               [formControl]="searchControl"
                        />
                    </mat-form-field>
                    <div class="flex-1 mt-4 space-y-2 overflow-y-auto">
                        <div *ngFor="let canal of canalsSearch$ | async"
                             class="bg-bgSecondary rounded-lg p-3 flex items-center space-x-3 shadow-sm mr-2">
                            <div class="flex-grow" style="cursor: pointer" (click)="joinChat(canal.id!)">
                                <h3 class="text-base font-medium text-primary">{{ canal.name }}</h3>
                            </div>
                        </div>
                        <div class="h-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</popout-window>
