/* chat.component.scss */
.chat-container {
  position: fixed;
  bottom: 0;
  left: 20px;
  width: 300px;
  background-color: var(--color-bg-primary);
  border: 2px solid;
  border-color: var(--color-primary);
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: height 0.3s ease;

  &.closed {
    height: 40px;
  }

  &.opened {
    height: 400px;
  }

  &.outside {
    position: fixed; // Fix to the viewport
    top: 0; // Align to the top
    left: 0; // Align to the left
    width: 100%; // Full width
    height: 100%; // Full height
    background-color: rgba(255, 255, 255, 0.9); // Slightly transparent background
    border-radius: 0; // No border radius
    box-shadow: none; // No shadow
    z-index: 1000; // Ensure it appears above other elements
  }
}

.canal-header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.chat-header {
  background-color: var(--color-bg-button);
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.opened  {
    cursor: pointer;
  }

  &.closed  {
    cursor: pointer;
  }

  button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
}

.canal-content {
  background-color: var(--color-bg-primary);
  height: calc(100% - 135px);
  overflow-y: auto;
}

.chat-content {
  height: calc(100% - 40px);
  overflow-y: auto;
}

.canal-list {
  background-color: var(--color-bg-primary);
  padding: 10px;
  color: var(--color-primary);
  h2 {
    margin-top: 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    color: var(--color-primary);
    cursor: pointer;
    padding: 5px;
    margin-bottom: 5px;
    background-color: var(--color-bg-secondary);
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.active {
      background-color: #e0e0e0;
    }

    button {
      background: transparent;
      color: transparent;
      border: none;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }

  button {
    width: 100%;
    padding: 5px;
    background-color: var(--color-bg-button);
    color: var(--color-secondary);
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
}

.chat-area {
  background-color: var(--color-bg-primary);
  display: flex;
  flex-direction: column;
  height: 100%;

  .messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;

    .message {
      display: flex;
      margin-bottom: 10px;

      &.sent {
        justify-content: flex-end;
      }

      &.received {
        justify-content: flex-start;
      }

      .bubble {
        max-width: 70%;
        padding: 10px;
        border-radius: 20px;
        font-size: 14px;
        line-height: 1.5;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        word-break: break-word;
      }

      &.sent .bubble {
        background-color: var(--color-bg-button);
        color: var(--color-secondary);
        border-bottom-right-radius: 5px;
      }

      &.received .bubble {
        background-color: var(--color-bg-secondary);
        color: var(--color-primary);
        border-bottom-left-radius: 5px;
      }

      small {
        margin-top: 5px;
        display: block;
        font-size: 12px;
        color: var(--color-primary);
      }
    }
  }

  .message-form {
    display: flex;
    padding: 10px;

    input {
      flex-grow: 1;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 3px 0 0 3px;
    }

    button {
      padding: 5px 10px;
      background-color: var(--color-bg-button);
      color: var(--color-secondary);
      border: none;
      border-radius: 0 3px 3px 0;
      cursor: pointer;

      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }
  }
}

.button-container {
  background-color: var(--color-bg-primary);
  display: flex; // Use flexbox for layout
  gap: 10px; // Space between buttons
}

/* canal-option-dialog.component.scss */
.container {
  width: 100%;
  height: 100%; // Added height
  background-color: var(--color-bg-primary);
  padding: 20px;
  position: relative;
  display: flex;          // Added
  flex-direction: column; // Added

  // Add this new class for the header
  .canal-header {
    background-color: var(--color-bg-primary);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 15px;

    button {
      color: var(--color-bg-button);
      background: none;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 5px;

      i {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }

    h2 {
      margin: 0;
    }
  }

  .bg-center {
    flex: 1;           // Added
    overflow: hidden;  // Added
    display: flex;
    flex-direction: column;

    mat-form-field {
      width: 100%;
    }

    .overflow-y-auto {
      flex: 1;
      overflow-y: auto;
    }
  }

  .message-form {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    gap: 10px; /* Space between elements */

    input {
      padding: 10px; /* Padding inside input */
      border: 1px solid var(--color-bg-button); /* Border color */
      border-radius: 3px; /* Rounded corners */
      font-size: 16px; /* Font size */
      outline: none; /* Remove default outline */
      transition: border-color 0.3s ease; /* Smooth border transition */

      &:focus {
        border-color: var(--color-bg-button);
        filter: brightness(0.85); /* Darkens the color on focus */
      }
    }

    button {
      padding: 10px; /* Padding inside button */
      background-color: var(--color-bg-button);  /* Button color */
      color: var(--color-secondary);  /* Button text color */
      border: none; /* No border */
      border-radius: 3px; /* Rounded corners */
      font-size: 16px; /* Font size */
      cursor: pointer; /* Pointer cursor on hover */
      transition: background-color 0.3s ease; /* Smooth background transition */

      &:hover {
        opacity: 0.75 /* Darker blue on hover */
      }

      &:disabled {
        background-color: #ccc; /* Gray when disabled */
        cursor: not-allowed; /* Not allowed cursor */
      }
    }

    .error-message {
      color: var(--color-error); /* Error message color */
      font-size: 14px; /* Font size */
      margin-top: 5px; /* Space above error message */
    }
  }
}

.error-message {
  color: var(--color-error);  /* Error message color */
  font-size: 14px; /* Font size */
  margin-top: 5px; /* Space above error message */
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}


.button-group {
  display: flex;
  gap: 8px;
  align-items: center;
}

.button-group button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border: none;
  background: none;
  cursor: pointer;
  height: 32px;
  width: 32px;
}

.button-group button mat-icon,
.button-group button i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px; /* Adjust this value as needed */
}

