app-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.scrollable-content {
    flex-grow: 1;
    overflow-y: auto;
    margin-top: 120px;
}

.scrollable-content {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

.scrollable-content::-webkit-scrollbar {
    width: 8px;
}

.scrollable-content::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.scrollable-content::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

