.game-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
}

.play-area-container {
    overflow: auto;
}

.play-area {
    display: grid;
    outline: none;
    height: 100vh;
}
