<div class="p-6 bg-white rounded-lg shadow-md w-full max-w-2xl mx-auto h-fit">

    <div class="flex items-center space-x-2">
        <button
                *ngIf="!gameService.observerMode"
                class="w-10 h-10 rounded-full flex items-center justify-center
                bg-gray-200 text-gray-700 hover:bg-gray-300
                disabled:bg-gray-100 disabled:text-gray-400 disabled:cursor-not-allowed"
                (click)="decrementValue()"
                [disabled]="gameService.lockedStatus"
        >
            -
        </button>

        <ng-container *ngIf="!gameService.lockedStatus && !gameService.observerMode; else lockedSlider">
            <ngx-slider
                    [(value)]="selectedValue"
                    [options]="options"
                    (userChangeEnd)="onSliderChange()"
            ></ngx-slider>
        </ng-container>

        <ng-template #lockedSlider>
            <ngx-slider
                    [(value)]="gameService.observerMode ? gameService.obs_qre_Answer === 0 ? selectedValue : gameService.obs_qre_Answer : selectedValue"
                    [options]="optionsDisabled"
                    (userChangeEnd)="onSliderChange()"
            ></ngx-slider>
        </ng-template>

        <button
                *ngIf="!gameService.observerMode"
                class="w-10 h-10 rounded-full flex items-center justify-center
                bg-gray-200 text-gray-700 hover:bg-gray-300
                disabled:bg-gray-100 disabled:text-gray-400 disabled:cursor-not-allowed"
                (click)="incrementValue()"
                [disabled]="gameService.lockedStatus"
        >
            +
        </button>
    </div>

    <div class="flex justify-between text-xs mb-4 text-gray-500">
        <span class="mx-auto font-bold">Tolérance: ±{{ margin.toLocaleString() }}</span>
    </div>
    <div class="mt-4 text-sm text-gray-700 text-center">
        <p>Votre intervalle de réponse est: <strong>{{ responseInterval }}</strong></p>
        <p *ngIf="gameService.validatedStatus">La bonne réponse était: {{gameService.question?.answer}}</p>
        <div class='btn-container'>
            <button *ngIf="!gameService.observerMode" class='enter' [disabled]='gameService.lockedStatus' (click)='validate()'>Valider</button>
            <app-leave-boutton></app-leave-boutton>
        </div>
    </div>
</div>