<app-header></app-header>
<div class="h-[calc(100vh-120px)] flex items-center justify-center">
    <div class="flex flex-col items-center gap-8">
        <h1 class="text-2xl font-bold">{{ 'MAINPAGE.WELCOME' | translate }} {{ username }} !</h1>
        <div class="flex flex-col gap-4 button-container">
            <button class="button" routerLink="/waiting-room-player-page">
                {{ 'MAINPAGE.JOIN_GAME' | translate }}
            </button>
            <button class="button" routerLink="/game-creation-page">
                {{ 'MAINPAGE.CREATE_GAME' | translate }}
            </button>
            <button class="button" routerLink="/game-admin-page">
                {{ 'MAINPAGE.ADMIN_GAMES' | translate }}
            </button>
            <button class="button" routerLink="/shopping-page">
                {{ 'MAINPAGE.SHOP' | translate }}
            </button>
        </div>
    </div>
</div>
