<div class="space-y-6 text-primary">
    <h2 class="text-xl text-center font-semibold">{{ 'AVATAR_MODIFICATION.CHOOSE_AVATAR' | translate }}</h2>
    <div *ngIf="loading" class="flex justify-center my-4">
        <mat-spinner></mat-spinner>
    </div>
    <div class="flex flex-wrap justify-center gap-4">
        <ng-container *ngIf="!loading">
            <div *ngFor="let avatarUrl of defaultAvatars" (click)="selectAvatar(avatarUrl)" class="avatar-item">
                <img [src]="avatarUrl" alt="Avatar" class="w-20 h-20 rounded-full mb-2 object-cover"
                     [class.ring-4]="avatarUrl === selectedAvatar"
                     [ngStyle]="{ '--tw-ring-color': avatarUrl === selectedAvatar ? 'var(--color-bg-button)' : '' }"/>
            </div>
            <ng-container *ngIf="showOwnedAvatars" >
                <div *ngFor="let avatarUrl of ownedAvatars" (click)="selectAvatar(avatarUrl)" class="avatar-item">
                    <img [src]="avatarUrl" alt="Avatar" class="w-20 h-20 rounded-full mb-2 object-cover"
                         [class.ring-4]="avatarUrl === selectedAvatar"
                         [ngStyle]="{ '--tw-ring-color': avatarUrl === selectedAvatar ? 'var(--color-bg-button)' : '' }"/>
                </div>
            </ng-container>
        </ng-container>

        <div *ngIf="customAvatarUrl" class="avatar-item">
            <img [src]="customAvatarUrl"
                 alt="Custom Avatar" class="w-20 h-20 rounded-full mb-2 object-cover"
                 [class.ring-4]="customAvatarSelected"
                 [class.ring-blue-500]="customAvatarSelected"
                 (click)="selectCustomAvatar()"/>
        </div>
    </div>

    <div class="text-center">
        <label for="custom-avatar" class="block text-center font-medium mb-3">
            {{ 'AVATAR_MODIFICATION.UPLOAD_OWN' | translate }}
        </label>
        <div class="space-y-6">
            <label for="custom-avatar" class="cursor-pointer inline-flex items-center px-4 py-2 bg-white border border-gray-300 rounded-md text-sm font-medium text-gray-700 hover:bg-gray-50 w-fit">
                <mat-icon class="mr-2">upload</mat-icon>
                {{ 'AVATAR_MODIFICATION.SELECT_IMAGE' | translate }}
            </label>
            <input id="custom-avatar" type="file" accept="image/jpeg,image/png,image/jpg,image/webp" (change)="onCustomAvatarUploaded($event)" class="hidden"/>
        </div>
    </div>
</div>
