<header class="bg-gradient-to-r from-purple-500 to-blue-600 text-white py-10 shadow-lg sticky top-0 z-50">
    <div class="absolute top-0 left-0 flex items-center justify-center h-full p-4">
        <button
                mat-icon-button
                class="icon-button-large"
                (click)="openFriendsDialog()"
                [matTooltip]="'HEADER.TOOLTIP_FRIENDS' | translate"
                [matBadge]="(pendingRequests$ | async)?.length"
                [matBadgeHidden]="!(pendingRequests$ | async)?.length"
                matBadgeOverlap="false"
                matBadgeColor="primary"
                disableRipple>
            <mat-icon>people</mat-icon>
        </button>
    </div>

    <div class="container mx-auto text-center">
        <a
                [routerLink]="showMenu ? ['/home'] : null"
                [ngClass]="{ 'hover:underline': showMenu, 'no-underline': !showMenu }"
                class="text-4xl font-extrabold tracking-wide"
        >
            PolyQuiz
        </a>
    </div>



    <div class="absolute top-0 right-0 flex items-center justify-center h-full p-4">
        <select (change)="switchLanguage($event)" [(ngModel)]="currentLanguage" class="bg-white text-black rounded p-2 mr-4">
            <option value="fr">Français</option>
            <option value="en">English</option>
        </select>

        <app-avatar *ngIf="currentUser$ | async as user" [showMenu]="showMenu"></app-avatar>
    </div>
</header>
