//@import '@angular/material/prebuilt-themes/indigo-pink.css';
.avatar-item {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #888888;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  cursor: pointer;
}
