<div class="flex flex-col items-center">
    <div class="relative inline-block">
        <div *ngIf="isLoading" class="absolute inset-0 flex items-center justify-center bg-white bg-opacity-50 rounded-full">
            <mat-spinner [diameter]="30" color="primary"></mat-spinner>
        </div>
        <img *ngIf="showMenu"
             [src]="(currentUser$ | async)?.avatar"
             alt=""
             [ngClass]="{
               'w-14 h-14': size === 'small',
               'w-20 h-20': size === 'medium',
               'w-28 h-28': size === 'large'
             }"
             class="rounded-full border-2 border-white shadow cursor-pointer object-cover"
             [matMenuTriggerFor]="menu"
             (load)="onImageLoad()"
        />
        <img *ngIf="!showMenu"
             [src]="(currentUser$ | async)?.avatar"
             alt=""
             [ngClass]="{
               'w-14 h-14': size === 'small',
               'w-20 h-20': size === 'medium',
               'w-28 h-28': size === 'large'
             }"
             class="rounded-full border-2 border-white shadow cursor-pointer object-cover"
             (click)="openProfileDialog()"
             (load)="onImageLoad()"
        />

        <div *ngIf="!hideLevel"
             [ngClass]="{
               'w-6 h-6 text-xs': size === 'small',
               'w-8 h-8 text-base': size === 'medium',
               'w-10 h-10 text-lg': size === 'large'
             }"
             class="absolute bottom-0 right-0 bg-yellow-400 text-blue-800 rounded-full border border-white flex items-center justify-center font-bold">
            {{ Math.floor(((currentUser$ | async)?.level || 0) / 10) }}
        </div>

        <mat-menu #menu="matMenu" class="customBg">
            <button mat-menu-item (click)="goToProfile()">
                <mat-icon aria-hidden="true">account_circle</mat-icon>
                <span>{{'AVATAR_CLICK_MENU.PROFIL' | translate}}</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon aria-hidden="true">logout</mat-icon>
                <span>{{'AVATAR_CLICK_MENU.DISCONNECT' | translate}}</span>
            </button>
        </mat-menu>
    </div>

    <p *ngIf="isChat" class="text-center mt-1 p-0" [class.text-primary]="!ignoreThemes">
        {{ (currentUser$ | async)?.username }}
    </p>
    <p *ngIf="showMoney" class="text-center" [class.text-primary]="!ignoreThemes">
        <i class="bi bi-cash-coin"></i> {{ (currentUser$ | async)?.currency }}
    </p>

</div>
