.arrow {
    flex: 1; /* Make each button take up equal width */

    background-color: #007bff;
    color: white;
    border: 4px solid #007bff;
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}


.arrow:hover {
    background-color: white;
    color: #007bff;
}


.arrow:active {
    background-color: #007bff;
    color: black;
    border: 4px solid black;
}

.app-organizer-histogram {
    width: 100%; /* Ensures histogram takes the full width of stats-container */
    max-width: 600px; /* Same max-width as the container */
    margin: 0 auto;
}

.stats-container {
    max-width: 600px; /* Constrain width for the entire container */
    text-align: center;
}

.graph-title {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Space between buttons */
    margin-bottom: 20px; /* Space between buttons and histogram */
}


button {
    flex: 1;
    margin: 5px;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
}
