<div class="p-6 bg-bgPrimary text-primary rounded-lg shadow-md space-y-4 max-w-full" *ngIf="selectedQuiz">
  <h3 class="text-xl font-semibold truncate">{{ selectedQuiz.title }}</h3>
  <p>
    <span class="font-medium">{{ 'QUIZ_SELECTION.DESCRIPTION' | translate }}:</span>
    <span class="break-words">{{ selectedQuiz.description }} </span>
  </p>
  <p>
    <span class="font-medium">{{ 'QUIZ_SELECTION.DURATION' | translate }}:</span>
    {{ selectedQuiz.duration }} {{ 'QUIZ_SELECTION.DURATION_SUFFIX' | translate }}
  </p>

  <h4 class="text-lg font-semibold mt-4">{{ 'QUIZ_SELECTION.QUESTIONS' | translate }}:</h4>
  <ul class="list-disc list-inside space-y-2">
    <li class="break-words" *ngFor="let question of selectedQuiz.questions">
      {{ question.text }}
    </li>
  </ul>
</div>
